/*Content Rama-1*/
/*REGLAS GENERALES*/
    *{
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    body,
    h1,
    h2,
    h3,
    header p,
    .menu{
        margin: 0;
    }
    /*Navegación*/
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: linear-gradient(to right, #63c, #c36);
    }
    nav a{
        color: #eee;
        display: block;
        padding: .5rem;
        text-decoration: none;
    }
    .btn{
        margin: .5rem;
        border: .1rem solid #eee;
        color: #eee;
        background-color: transparent;
    }
    .btn:hover{
        background-color: #eee;
        color: #63c;
    }
    .menu{
        width: 100%;
        padding: 0;
        list-style: none;
        max-height: 0;
        overflow: hidden;
    }
    .menu.active{
        max-height: 600px;
    }
    .menu a:hover{
        background-color: #3338;
    }